<% layout('layouts/boilerplate') %>
    
<div class = "container py-5 w-100">
    <h3 class = "mb-3">Edit Attraction Site</h3>
    <form action="/attractions/<%=attraction._id%>?_method=PUT" method = "POST" enctype="multipart/form-data">
        <label class = "form-label" for="name">Name</label>
        <input id="name" class = "form-control mb-4 w-50" type="text"  name = "name" value="<%=attraction.name%>">
        <label class = "form-label" for="location">Location</label>
        <input id="location" class = "form-control mb-4 w-50" type="text"  name="location" value="<%=attraction.location%>" >
        <label class = "form-label" for="country">Country</label>
        <input id="country" class = "form-control mb-4 w-50" type="text"  name="country" value="<%=attraction.country%>">
        <label class = "form-label" for="description">Description</label>
        <textarea  id="description" class = "form-control mb-4 w-50" name="description" id="" cols="30" rows="10" "><%=attraction.description%></textarea>
        <label class = "form-label" for="images">Upload New Images</label>
        <input id="images" class = "form-control mb-4 w-25 d-inline" type="file" name="images" id="" multiple ">
        <a class = "btn btn-primary ms-2 mb-1" href="/attractions/<%=attraction._id%>/images">View Existing Images</a>
        <br>
        <button class= "btn btn-info text-white ">Update Attraction</button>
    </form>
    <a class ="btn btn-secondary my-3" href="/attractions/id?id=<%=attraction._id%>">Go Back</a>
</div>
   
